body {
  margin: 0;
 font-family: 'Open Sans', sans-serif;
}

.page {
 width: 1008px;
 margin: 65px auto 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;

}
ul {

  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 48px;
  font-family: 'Mulish', sans-serif;

}

ul li a {
  text-decoration: none;
  color: #7D7987;
  font-size: 18px;
}

ul li a:hover {
  font-weight: bold;
  color: #000000;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


h1{
  font-family: 'Mulish', sans-serif;
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
}

h1 span {
 color: #89C5CC;
 font-weight: bold;
}

p {
  color: #7D7987;
  font-size: 14px;
  line-height: 28px;
  margin: 40px 0;

}

button {

  color: white;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;

  background-color: #69B99D;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 32px 15px 32px;

  gap: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4b8f76;
}


footer {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 28px;
  text-align: center;
  margin-top: 80px;
}
 footer a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
 }

 #balls {
  position: fixed;
  bottom: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 0%, rgba(227, 255, 248, 0.38) 100%);
 }